{
	"singleQuote": false,
	"overrides": [
		{
			"files": "*.js",
			"options": {
				"singleQuote": true,
				"arrowParens": "always"
			}
		}
	],
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 200,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"proseWrap": "never",
	"arrowParens": "avoid"
}
