/*------------------------------------
    #icons (see https://cloudfour.com/thinks/our-svg-icon-process/)
------------------------------------*/
.o-icon {
	position: relative;
	top: -0.0625em;
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	font-size: 24px;
	fill: currentcolor;
}
