/*---------------------------------------
    Containers
---------------------------------------*/
.o-container {
	--gutter: 20px;

	max-width: calc(1620px + 2 * var(--gutter));
	padding-inline-start: var(--gutter);
	padding-inline-end: var(--gutter);
	margin-inline: auto;

	/* full */
	&--full {
		max-width: calc(1800px + 2 * var(--gutter));
	}
	/* md */
	&--md {
		max-width: calc(960px + 2 * var(--gutter));
	}
	/* sm */
	&--sm {
		max-width: calc(768px + 2 * var(--gutter));
	}

	@include bp(bp1024) {
		--gutter: 60px;
	}
}
