/*---------------------------------------
    Containers
---------------------------------------*/
.o-container {
	--gutter: 20px;

	padding-inline: var(--gutter);
	margin-inline: auto;

	/* opinionated breakpoint */
	@include bp(bp1024) {
		--gutter: 60px;

		/* default value */
		max-width: calc(1360px + 2 * var(--gutter));

		/* lg */
		&--lg {
			max-width: calc(1800px + 2 * var(--gutter));
		}
		/* md */
		&--md {
			max-width: calc(960px + 2 * var(--gutter));
		}
		/* sm */
		&--sm {
			max-width: calc(768px + 2 * var(--gutter));
		}
	}
}

/*---------------------------------------
	Grids
---------------------------------------*/
.o-grid {
	--gap: 32px;
	--column-count: 3;

	display: grid;
	gap: var(--gap);

	/*prettier-ignore*/
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			max(
				240px,
				calc(100% - var(--gap) * var(--column-count)) / var(--column-count)
			),
			1fr
		)
	);
}
