@use "../01_tools/mixins" as mixins;

/*------------------------------------
    #Buttons
------------------------------------*/
.c-btn {
	--color-txt: #fff;
	--color-txt-hov: #fff;
	--color-bg: var(--c-black-900);
	--color-bg-hov: var(--c-black-500);

	position: relative;
	display: inline-block;
	border: 1px solid var(--color-bg);
	background-color: var(--color-bg);
	padding: 16px 40px;
	text-transform: uppercase;
	font-family: var(--ff--secondary);
	font-size: 14px;
	line-height: normal;
	font-weight: 700;
	color: var(--color-txt);
	cursor: pointer;
	transition: all 0.3s var(--base-timing-functon);
	appearance: none;

	@media (pointer: fine) and (hover: hover) {
		&:hover,
		&:active,
		&:focus-visible {
			background-color: var(--color-bg-hov);
			color: var(--color-txt-hov);
			border-color: var(--color-bg-hov);
		}
		&:focus {
			outline: none;
		}
	}
	&:focus-visible {
		outline: 5px solid Highlight;
	}
	&:active {
		position: relative;
		top: 1px;
	}

	&[disabled] {
		cursor: not-allowed;
		transition: none;

		&:hover {
			background-color: var(--color-bg);
			color: var(--color-txt);
			border-color: var(--color-bg);
		}
	}

	/*---------------------------------------
		Variations
	---------------------------------------*/
	/* block button */
	&--block {
		display: block;
		width: 100%;
		text-align: center;
	}

	/*---------------------------------------
		Color variations
	---------------------------------------*/
	/* white buttton */
	&--white {
		--color-txt: var(--c-black-900);
		--color-txt-hov: var(--c-black-900);
		--color-bg: #fff;
		--color-bg-hov: var(--c-black-50);
	}
}
